<main>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h3> Novo Aluno: </h3>
            <div class="card">
                <div class="card-body">
                    <form action="/rota_aluno/aluno/nova" method="POST">
                        <label for="matricula">matricula: </label>
                        <input type="text" id="matricula" name="matricula" placeholder="Digite sua matricula"
                            class="form-control">
                        <br>
                        <label for="nome">nome: </label>
                        <input type="text" id="nome" name="nome" placeholder="Digite seu nome" class="form-control">
                        <br>
                        <label for="fk_turma">Turma:</label>
                        <select name="fk_turma" id="fk_turma" class="custom-select">
                            {{#each turmas}}
                            <option value="{{id_turma}}">{{descricao}}</o ption>
                                {{else}}
                            <option value="0">Nenhuma Turma registrado</op tion>
                                {{/each}}
                        </select>
                        <button type="submit" class="btn btnsuccess">Criar Aluno</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>