<div class="card text-center">
 <div class="card-body">
 <h5 class="card-title">Agradecemos pela escolha</h5>
 <p class="cardtext">Site desenvolvido por Matheus Sousa de Oliveira</p>
 </div>
 <div class="card-footer text-muted">
 ©2021 Copyright: Matheus Sousa de Oliveira
 </div>
</div>